@(cases: List[CaseEntityObject])
<h3>Case Search Results</h3>
<table>
	<tr>
		<th>Case Number</th>
		<th>Case Subject's Name</th>
		<th>Received Date</th>
		<!-- <th>Amount Paid</th> -->
		<!-- <th>Amount Owed</th> -->
		<th>Tests Ordered</th>
		<th>Comment</th>
	</tr>
	@cases.map { theCase => 
		<tr>
			<td>@theCase.getCaseNumber()</td>
			<td>@theCase.getSubjectLastname(), @theCase.getSubjectFirstname()</td>
			<td>@theCase.getReceivedDate()</td>
			<td>
			@theCase.getCaseTestsSparse().size()
			</td>
			<td>@theCase.getCaseNote().getCommentText()</td>
		</tr>
	}
</table>
