@(caseForm: Form[RequisitionPOJO], tests: List[TestEntityObject])
@import helper._


@form(routes.CaseController.saveCase()){
	
	<fieldset>
	<legend>Case Regarding</legend>
	@inputText(caseForm("subjectFirstName"), 
			'_label -> "First Name", 
			'_showConstraints -> false)
	@inputText(caseForm("subjectLastName"), 
			'_label -> "First Name", 
			'_showConstraints -> false)
	<input type="checkbox" name="testNumber[0]" value="55">I am checked 55</input>
	<input type="checkbox" name="testNumber[1]" value="57">I am checked 57</input>
	<input type="checkbox" name="testNumber[6]" value="59">I am checked 59</input>

	</fieldset>
	
	
	<div>
		<input type="submit" value="Save" />
	</div>
	
}
