@(emp: Employee, userRoles: Set[String], clientSearchResults: List[Client], caseSearchResults: List[CaseEntityObject], searchForm: Form[MainController.SearchQuery])
@import helper._

@main("Dashboard"){
<div class="search_area" style="">
	<div style="float:left;">
		@if(emp != null){
		<h1>Welcome, @emp.getFirst()</h1>
		}
	</div>
	<div style="float:right; margin-right:10%;">
	<fieldset>
	<legend>Search</legend>
	<!--<input type="text"></input>-->
	@form(routes.MainController.search()){
		<input type="text" name="data" value="@searchForm("data").value"> 

	<select name="clientOrCase">
		@if(clientSearchResults != null){
			<option selected="selected">Client</option>
			<option>Case</option>
		} else {
			@if(caseSearchResults != null){
			<option>Client</option>
			<option selected="selected">Case</option>
			} else {
			<option>Client</option>
			<option>Case</option>
			}
		}
	</select>

	<button type="submit">Search</button>
	}
	<button>Adv. Search</button>
	</fieldset>
	
	</div>
</div>

<div class="main_content" style="clear:both; height:500px; background-color:#00FFFF;">

<div style="float:left; background-color:grey; height:25%; width:30%;">
	<h2>System Alerts</h2>
	<table>
		<tr>
			<th>Delinquent Accounts:</th>
			<td>365</td>
		</tr>
		<tr>
			<th>Oldest unpaid case:</th>
			<td>3/21/2012</td>
		</tr>
	</table>
</div>
<!--
<div style="float:left; background-color:#C0C0C0; height:25%; width:70%;">
	<h2>Item Details</h2>
</div>
-->
<nav class="button_area" style="clear:left; float:left; background-color:#C0C0C0; height:100%; width:10%;">
	<center>
	@if(emp!=null){
		@if(userRoles.contains("manage clients")){
			@form(routes.ClientController.createClient()){
				<button type="submit">Create Client</button><br/>
			}
		}
		<button>btn 01</button><br/>
		<button>btn 02</button><br/>
		<button>btn 03</button><br/>
		<button>btn 04</button><br/>
	}

	</center>
</nav>

<div class="search_results" style="float:left; background-color:#00FF00; height:100%; width:90%;">
	<center>
	@if(clientSearchResults != null && clientSearchResults.size() > 0) {
		@views.html.client.client_table(clientSearchResults)
	}
	
	@if(caseSearchResults != null && caseSearchResults.size() > 0) {
		@views.html.cases.case_table(caseSearchResults)
	}
	</center>
	
</div>

</div> <!-- end main_content --!>

<!-- dashboard.scala.html -->
}

